.menu {
  box-shadow: 1px 2px 3px 1px #cfcfcf;
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background: #fff;
  margin-bottom: 5rem;

  @media (min-width: 1921px) {
    max-width: 1920px;
    margin: auto;
  }

  a {
    text-decoration: none;
  }

  @media (min-width: 991px) {

  }

  &__container {
    @media (min-width: 1199px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 4rem;
    }
  }


  &__logo {
    display: flex;
    align-items: center;
  }
  &__p {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 700;
    color: #6046d7;
  }

  &__a {
    font-size: clamp(1rem, 2vw, 1.1rem);
    color: #6046d7;
    font-weight: 600;
    text-decoration: none;
    margin-left: 0.5rem;
  }

  nav {
    z-index: 5;
    @media (max-width: 1198px) {
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100vw;
      width: 50%;
      background: rgba(255, 255, 255, 0.8);
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      transition: right 0.4s ease-out;
    }

  }
}