.section-build {
  background: #dd7cd1;
  padding: 0 2rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;


  @media (min-width: 768px) {
    display: flex;
    padding: 0 4rem;
    align-items: center;
  }

  .p {
    width: 100%;
    color: #fff;
  }

  &__box {
    &--text {
      width: 100%;
      @media (min-width: 1199px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    &--img {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    &__img {
      max-width: 85%;
      @media (min-width: 1199px) {
        max-width: 45%;
      }
    }
  }
}